* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(235, 240, 245, 0.699);
}

.parent {
  max-width: 1300px;
  margin-inline: auto;
  padding-block: 3rem;
}

.details {
  margin-bottom: 3rem;
}

.title,
.artificial,
.points {
  text-align: center;
}

.reliable {
  text-align: center;
  font-size: 23px;
  margin-bottom: 0.5rem;
}

.title {
  margin-bottom: 0.5rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3rem;
}

.supervisor,
.team,
.karma,
.calculator {
  width: 300px;
  height: 250px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 1.5rem;
}

.supervisor {
  border-top: 10px solid aqua;
}

.team {
  border-top: 10px solid crimson;
}

.karma {
  border-top: 10px solid orange;
}

.calculator {
  border-top: 10px solid rgba(0, 0, 255, 0.651);
}

.teamBuilder {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.supervisor h3,
.team h3,
.karma h3,
.calculator h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.supervisor p,
.team p,
.karma p,
.calculator p {
  margin-bottom: 3rem;
}

.image {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}
